.simplepopup-bold{
	font-weight: bold;
}

.simplepopup-mt{
	margin-top: 6px;
}

.simplepopup-mb{
	margin-bottom: 14px;
}

.simplepopup-mr{
	margin-right: 14px;
}

.simplepopup-form-group{
	display: flex;
}

.input-group {
	display: table;
	border-collapse: collapse;
}

.input-group > * {
	display: inline-block;
	vertical-align: middle;
}

.input-group input {
	display: block;
	margin-right: 0px;
	border-radius: 4px 0px 0px 4px;
}

.input-group-icon{
	border: 1px solid #8c8f94;
	border-radius: 0px 4px 4px 0px;
	padding: 5px 8px 5px 8px;
	background-color: #dee0e3;
}
